

<container class="container-fluid">
  
      <aside class="pull-right float:right col-xs-5">
        <tt-presens-person person="last.person" limit-to="2"/>
      </aside>
    
 <div class="col-xs-5 float:left {{message.textClass}}" ng-show="message.visible">{{message.text}}</div>

  <div class="col">
    <span tt-clock ng-show="showClock"></span>
    <input type="text" ng-hide="showClock" ng-model="personId">
  </div>

  <div class="col">   
    <container class="row" id="numerickeys"> 
  
      <div class="col-xs-7" >
		  <div ng-repeat="row in layout.rows">    
			 <span ng-repeat="col in row">
			   	<button class="btn btn-info" ng-click="buttonPress(col)"> {{ col }}</button>
			 </span>		
		  </div>

         <container class="row" id="actionkeys">
      <span class="col-xs-2" ng-repeat="actionButton in layout.actionButtons">
        <span>
          <button = class="btn btn-primary" ng-click="actionButtonPress(actionButton)"> {{ actionButton.description}}</button>
        </span>
      </span>
     
    </container>
      </div>
  
</container>
  </div>    
      


</container> 
 

  
 
<!--
<p>
      Enter name: <input type="text" ng-model="name"><br>
      Hello <span ng-bind="name"></span>!
</p>
-->