

 <span tt-clock></span>

    
	<input type="text" ng-model="personId">


    <container class="row" id="numerickeys"> 
  
      <div class="col-xs-7" >
		  <div ng-repeat="row in layout.rows">    
			 <span ng-repeat="col in row">
			   	<button class="btn btn-info" ng-click="buttonPress(col)"> {{ col }}</button>
			 </span>		
		  </div>

         <container class="row" id="actionkeys">
      <span class="col-xs-2" ng-repeat="actionButton in layout.actionButtons">
        <span>
          <button = class="btn btn-primary" ng-click="actionButtonPress(actionButton)"> {{ actionButton.description}}</button>
        </span>
      </span>
      <div class="float:left {{message.textClass}}" ng-show="message.visible">{{message.text}}</div>
    </container>
      </div>
  
      <aside class="col-xs-5">
        <span tt-presenslist></span>
      </aside>

    </container>
 
 

  
 
<!--
<p>
      Enter name: <input type="text" ng-model="name"><br>
      Hello <span ng-bind="name"></span>!
</p>
-->